* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "poppins", sans-serif;
}
body {
    min-height: 100vh;
    background-image: url('Background.jpeg');
}

    /* body {
    background-color: #FFE5F1;
}
.head-title {
    font-size: 30px;
    font-weight: bold;
    text-align: center;
    padding-top: 4px;
    padding-bottom: 4px;
    color: white;
    background-color: #FF597B;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    max-width: 100%;
    display: block;
    left: 0px;
    right: 0px;
}
.music-container {
    display: flex;
    max-width: 100%;
    flex-wrap: wrap;
}
.card {
    border-radius: 4px;
    margin-right: 12px;
    height: 100px;
    width: 60px;
    padding: 4px;
    margin-bottom: 20px;
    margin-top: 10px;
    box-shadow: 10px 10px 5px #B4B4B8;
    background-color: #DDDDDD;
}
.card-img-top {
    height: 120px;
    width: 50px;
}
.play-buttton {
    margin-left: 0px;
}
footer p {
    background-color:#222831;
    display: block;
    left: 0px;
    right: 0px;
    color: white;
    position: fixed;
    bottom: 0px;
    width: 100%;
    text-align: center;
    font-size: medium;
    padding-top: 4px;
    padding-bottom: 4px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.card-title {
    margin-block-start: 0px;
    margin-block-end: 0px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: medium;
    font-weight: bold;
}
.card-text {
    margin-block-start: 0px;
    margin-block-end: 0px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: small;
}
.btn btn-primary {
    color: green;
} */
